node_modules
package-lock.json
.history
.vscode
.env
cache
artifacts
coverage
coverage.json
typechain
typechain-types

frontend/node_modules
frontend/dist
frontend/.env
frontend/src/contracts.json

ipfs-mock/*.json
deployments/*.json
